
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px; */
  max-width: 320px; 
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}







/* header */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.header{
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
  display: flex;
  align-items: center;
}

.header-navigation{
  align-items: center;
}

.header-logo {
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.adress-lists{
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-item{
  position: relative;
}

.header-link{
  /* color: #404bbf; */
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; 
  padding: 24px 0; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.header-link{
  position: relative;
}


.header-link:hover{
  color: #404bbf;
}

.header-link:focus{
  color: #404bbf;
}


.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%; 
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf; 
  transition: width 300ms ease-in-out; 
  margin-top: 20px;
  bottom: -1px; 
}

.header-link.current{
color: #404BBF;
}

.header-link:hover::after {
  width: 100%;
}

.header-logo span {
  color: #2e2f42;z
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;

}

.address{
  font-style: normal; 
  margin-left: auto;
}

.address-link{
  color:  #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.address-link:hover {
  color:  #404bbf;
}

.address-link:focus{
  color:  #404bbf;
}










/* Section 1 main */

.main{
  background: #2e2f42;
  min-height: 432px; 
  min-width: 320px; 
  padding: 72px 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/main-backgrond-mob.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  margin: 0 auto;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin: 0 auto;

  
  margin-bottom: 72px;
  max-width: 160px;
  font-weight: 700;
  text-transform: capitalize;
}

.main-container{
  
}

/* section 2 */
.main-btn {
  display: block;
  min-width: 169px;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56px;
  width: 169px;
  background:  #4d5ae5;
  border: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.main-btn:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.main-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}








/* Section 2 strategy */

.strategy{
padding-top: 120px;
padding-bottom: 120px;
}

.container-strategy{
  display: flex;
  justify-content: center;
}

.strategy-list{
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}

.strategy-list-item{
  max-width: 288px;
}

.strategy-list-wrap{
  display: none;
  align-items: center; 
  justify-content: center;
  margin-bottom:  8px;
  

  border-radius: 4px;
  border: 1px solid #8E8F99;
  background: #F4F4FD;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
}

.strategy-list-img {

}

.strategy-list-sub {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  text-align: center; 
}

.strategy-list-text {
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  font-weight: 500;
}









/* Section 3 ourteam */
.ourteam{
  background-color: #F4F4FD;
  padding: 120px 0;
  max-height: 2232px;
}

.ourteam-container{

}

.ourteam-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11; 
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* background-color: #F4F4FD; */
  margin-bottom: 72px
}

.ourteam-list{
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

.ourteam-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  height: 428px;
  width: 264px;
}

.ourteam-name-prof{
  padding: 32px 0;
}

.ourteam-img{

}

.ourteam-sub{
  color: #2E2F42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ourteam-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; 
    margin-bottom: 8px;
}

.ourteam-soc{
  fill: none;
  display: flex;
  gap: 24px;
  /* padding-left: 15px; */
  /* padding-top: 8px; */
  justify-content: center;
}

.ourteam-soc-list{
  width: 40px; 
  height: 40px; 
}

.ourteam-soc-wrap{

  display: flex;
  flex-direction: row;
  background-color: #4D5AE5;
  border-radius: 50%;
  /* width: 40px;
  height: 40px;  */
  width: 100%;
  height: 100%;
  align-items: center; 
  justify-content: center;  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.ourteam-soc-wrap:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.ourteam-soc-wrap:focus {
  background-color: #404bbf;
  cursor: pointer;
}


.ourteam-soc-svg{
  fill: #f4f4fd;
}

.ourteam-soc-subscribe{
  fill: #f4f4fd;
  margin-left: 16px;
}







/* Section 4 ourportfolio */

.ourportfolio{
  padding: 120px 0 120px 0;
}

.ourportfolio-container{

}

.ourportfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.ourportfolio-title {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize; 
  margin-bottom: 72px; 
  
}

.ourportfolio-item {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-item:hover {
  /* border: 1px solid #F4F4FD; */
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourportfolio-item:hover .ourportfolio-wrap {
  transform: translateY(0);
}

.ourportfolio-item:hover .ourportfolio-bankingapp-text {
  transform: translateY(0%);
}

.ourportfolio-bankingapp-cover {
  position: relative;
  overflow: hidden;
}

.ourportfolio-wrap {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: #4D5AE5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.ourportfolio-bankingapp-text {  
  color:  #F4F4FD;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  position: absolute; 
  top: 0; 
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.ourportfolio-sub-text {
  padding: 32px 16px;
  width: 100%;
  border-left: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  border-right: 1px solid #E7E9FC;
}

.ourportfolio-sub {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ourportfolio-text {
  line-height: 1.5; 
  letter-spacing: 0.02em;
}






/* footer */

.footer{
 background: #2E2F42;   
 padding: 100px 0;
}

.footer-all-div{
  display: flex;
  align-items: baseline;
  }


  .footer-container{
margin-right: 120px;
  }
  
  
.footer-logo{
    display: inline-block; 
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;      
}
.footer-logo span{
  color: #F4F4FD;
}
.footer-text{
  color: #F4F4FD;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;   
  max-width: 264px;
  margin-top: 17.5px;
}

.footer-soc-box{
  margin-right: 80px;
}

.footer-social-media{
  color: var(--WHITE, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em; 
  margin-bottom: 16px;
}

.footer-list{
  display: flex;
  gap: 16px;
}

.footer-soc-wrap{
  width: 40px;
  height: 40px; 
}

.footer-soc-link{
  display: flex;
  flex-direction: row;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center; 
  justify-content: center;  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-soc-link:hover {
  background-color: #31d0aa;
  cursor: pointer;
}

.footer-soc-link:focus {
  background-color: #31d0aa;
  cursor: pointer;
}








/* modal form */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
}

.modal-btn-close{
position: absolute;
display: flex;
top: 24px; 
right: 24px;
width: 24px;
height: 24px;
flex-shrink: 0;
align-items: center; 
justify-content: center;
fill: #E7E9FC;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.10);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #e7e9fc;
/* border-color: #a5a1a3; */
padding: 0; 
cursor: pointer; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover{
  background-color: #404bbf;
  border: none; 
}

.modal-btn-close:focus{
  background-color: #404bbf;
  border: none; 
}

.modal-btn-close:hover .modal-btn-icon{
  fill: #ffffff;
}

.modal-btn-close:focus .modal-btn-icon{
  fill: #ffffff;
}


.modal-btn-icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;
}


.modal-label {
  display: block;
  color: #8E8F99;
  margin-bottom: 4px;
font-size: 12px;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.04em;

}

.modal-name{
color: #2E2F42;
text-align: center;

font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-bottom: 16px;
/* padding-bottom: 16px; */
}

.modal-field-input {
  margin-bottom: 8px;
}

.modal-field-input-comment {
  margin-bottom: 16px;
}

.modal-field-wrap {
  position: relative;
}

.modal-field-check{
margin-bottom: 24px;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
  background-color: transparent;
}

.modal-icon {
  position: absolute;
  fill: transparent;
  stroke: #404040;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
  fill: #2e2f42;
  stroke: #2e2f42;
}

.modal-field-input input[type=text],
.modal-field-input input[type=tel],
.modal-field-input input[type=email] {
  padding-left: 38px;
}


.modal-field-wrap:focus-within .modal-input {
  border: 1px solid var(--IRIS, #4D5AE5);
}

.modal-field-wrap:focus-within .modal-textarea {
  border: 1px solid var(--IRIS, #4D5AE5);
}

.modal-field-wrap:focus-within .modal-icon {
  fill: #4D5AE5;
  stroke: #4D5AE5;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  background-color: transparent;
  padding: 8px 16px;

  font-size: 12px;
  outline: transparent;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4D5AE5;
}


.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.40);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0,04em;
}


.check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 12px;
  line-height: 1.17; 
  letter-spacing: 0.04em; 
  align-items: center;
  color: #8e8f99;
}

.check-text a {
  color: #4D5AE5;
}


.privacy-policy-link{
  margin-left: 4px;
}


.check-text-box{
  display: inline-flex;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px; 
  fill: transparent;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check{

}

.modal-check:checked + .check-text .check-text-box {
  background-color: #404BBF;
  /* border: 1px solid #404BBF; */
  border: none; 
  /* fill: #ffffff; */
  fill: #F4F4FD; 
}

.modal-btn{
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #FFF);
  align-items: center;
  justify-content: center;

  transform: translate(100px);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}








/* footer form */

.subscribe-text{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}


.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  min-width: 264px;
  height: 40px;
  flex-shrink: 0;
  justify-content: center; 

  font-size: 12px;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  color: #ffffff;

  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.04em;
  border: 1px solid #FFFFFF;
  border-radius: 4px; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
  background-color: transparent;
  padding-left: 16px;

}
.modal-footer-label{
  display: block;
  color:  #FFFFFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
margin-bottom: 16px;
/* gap: 24px; */
}

.footer-forv-div input[type=email]{
  padding-left: 16px;
}

.footer-form-input::placeholder {
  color: #FFF;
  font-size: 12px;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
}


.footer-form-btn {
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #4D5AE5;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}








@media screen and (min-width: 768px) {

  .container {
    width: 100%; */
    max-width: 768px; 
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .main{
    max-height: 600px;
    max-width: 768px;  */
    padding: 188px 0;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-backgrond-tablet.jpg);
    background-size: cover; 
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-backgrond-tablet-retina.jpg);
  }
}
  
  .main-title {
    min-width: 496px; 
    min-height: 120px; 
    font-size: 56px;
    margin-bottom: 36px;
  }

  .strategy-list{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .strategy-list-item{
    width: 356px;
 
  }

  .strategy-list-sub {
    text-align: left; 
  }

  .ourteam-list{
    justify-content: center;
  }

}













@media screen and (min-width: 1158px) {

.container {
  width: 100%; */
  max-width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;
}

.main{
  max-height: 600px;
  max-width: 1440px;  */
  padding: 188px 0;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/main-backgrond.jpg); */
  background-size: cover; 
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.main {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/main-backgrond-retina.jpg);
  background-size: cover; 
}
}

.main-title {
  min-width: 496px; 
  min-height: 120px; 
  margin-bottom: 48px;
}

.strategy-list-wrap{
  display: flex;
}

.strategy-list{
  flex-direction: row;
  gap: 24px;
}

.strategy-list-item{
  max-width: 264px;
}

.strategy-list-sub{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.strategy-list-text {
  font-weight: 400;
}

.ourteam-list{
  flex-direction: row;
  gap: 24px;
  /* max-height: 380px; */
  /* max-width: 264px; */
}

}